<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBtgsU0ykb8EwVE8hide-vTeGE_6-FMj-I</string>
	<key>GCM_SENDER_ID</key>
	<string>1043962851446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmed.attendence</string>
	<key>PROJECT_ID</key>
	<string>attendance-d869f</string>
	<key>STORAGE_BUCKET</key>
	<string>attendance-d869f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043962851446:ios:1c12fb2f1b963430d9af57</string>
</dict>
</plist>